{{#bs-navbar class='navbar-default navbar-fixed-top' name='Todos List'}}
	{{#link-to 'todos' tagName='li'}}
		{{link-to 'Todos' 'todos'}}
	{{/link-to}}
	{{#link-to 'about' tagName='li'}}
		{{link-to 'About' 'about'}}
	{{/link-to}}
{{/bs-navbar}}
<div class='main-container container-fluid'>
	{{outlet}}
</div>